{{ define "main" }}
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-text-dark dark:text-darkmode-text-dark">
            404
          </span>
          <h1 class="h2 mb-4">Halaman tidak ditemukan nih!</h1>
          <div class="content">
            <p>
              Mungkin saja karena sudah dihapus atau belum dibuat.
              Coba hubungi admin untuk info lebih lanjut atau kembali ke Home.
            </p>
          </div>
          <a
            href="{{ site.BaseURL | relLangURL }}"
            class="btn btn-primary mt-8">
            Kembali Ke Home
          </a>
        </div>
      </div>
    </div>
  </section>
{{ end }}
